<ion-menu [content]="content">

  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>

  <ion-content>

    <div class="menu-image">
    <//img src="./../images/img.jpg">
    </div>

    <ion-list>
      <button ion-item (click)="openPage(home)" menuClose>
        Home
      </button>
      <button ion-item (click)="openPage(test)" menuClose>
        Test
      </button>
      <button ion-item (click)="openPage(alert)" menuClose>
        Alert
      </button>
      <button ion-item (click)="openPage(button)" menuClose>
        Button
      </button>
      <button ion-item (click)="openPage(card)" menuClose>
        Card
      </button>
      <button ion-item (click)="openPage(icon)" menuClose>
        Icon
      </button>
      <button ion-item (click)="openPage(input)" menuClose>
        Input
      </button>
      <button ion-item (click)="openPage(list)" menuClose>
        List
      </button>
      <button ion-item (click)="openPage(grid)" menuClose>
        Grid
      </button>
      <button ion-item (click)="openPage(modal)" menuClose>
        Modal
      </button>
      <button ion-item (click)="openPage(navigation)" menuClose>
        Navigation
      </button>
      <button ion-item (click)="openPage(tab)" menuClose>
        Tab
      </button>
      <button ion-item (click)="openPage(toast)" menuClose>
        Toast
      </button>
      <button ion-item (click)="openPage(toolbar)" menuClose>
        Toolbar
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
